/* Author: Sotiris Konstantis */

.dateInnerContainer.disabled {
  color: gray;
  cursor: not-allowed;
  border-bottom: 4px solid lightgray; 
}

.dateWrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1000;
  }

  .dateContainer,
  .dateContainerCentral {
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    text-shadow: 0px 4px 4px rgba(16, 16, 16, 0.25);
  }

  .dateContainerCentral {
    max-width: 157px;
  }
  
  .dateContainerCentral::after {
    content: "Ημερολόγιο";
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 2px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    text-shadow: 0px 4px 4px rgba(16, 16, 16, 0.25);
  }
  
  .dateContainerCentral:hover::after
  {
    opacity: 1;
    visibility: visible;
  }
  
  .dateInnerContainer {
    white-space: nowrap;
    display: inline-block;
    padding: 4px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }
  
  .arrow {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .arrow::after {
    content: "";
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 2px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1;
  }
  
  .arrow:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  .arrow.previous::after {
    content: "-1 ημέρα";
  }
  
  .arrow.next::after {
    content: "+1 ημέρα";
  }
  
  .calendarContainer {
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }  
  
  .calendar {
    width: 100%; 
    max-width: 350px;
  }
  
  .react-calendar {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .react-calendar__month-view__days__day {
    height: 40px; 
  }
  
  .react-calendar__tile {
    max-width: 100%!important; 
    padding: 10px 6.6667px; 
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--now {
    background: #ffff76;
    color: black;
  }
  