/* Author: Sotiris Konstantis */

.header {
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000000000;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerText {
  text-shadow: 0px 4px 4px rgba(16, 16, 16, 0.25);
  font-weight: bolder;
  margin: 5px;
  color: #ffffff;
  font-size: 27px;
}

.memoText {
  font-weight: bolder;
  margin: 10px;
  margin-top: 12px;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  background: white;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  height: 35px;
  margin: 7px;
  margin-left: 10px;
  cursor: pointer;
}

.x {
  height: 35px;
  margin: 7px;
  margin-right: 17px;
  margin-left: auto;
  cursor: pointer;
}
