/* Author: Sotiris Konstantis */

.container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 5px;
    margin: 10px;
    border-bottom: 10px solid; 
    background: rgba(255, 255, 255);
    color: black;
    z-index: 100000000;
}